In [ ]:
import pandas as pd
from dplython import (DplyFrame, X, diamonds, select, sift, sample_n,
    sample_frac, head, arrange, mutate, group_by, summarize, DelayFunction) 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
abs1617 = pd.read_excel("data/chr_abs_District-Level_Suppression_2016-17.xls")

In [ ]:
abs1617.head(20)

In [ ]:
abs1617.shape

In [ ]:
#It looks like the abs1617 - system is the same thing as the abs1718 district

In [ ]:
len(abs1617.system.unique())

In [ ]:
abs1617.columns

In [ ]:
abs1718 = pd.read_excel("data/chr_abs_District-Level_Suppression_2017-18.xlsx")

In [ ]:
abs1718.head(30) #abs1617 doesn't include extensive break down of age of groups ...  
#may need to restrict data usage to 17-18 school year

In [ ]:
abs1718.shape

In [ ]:
abs1718.columns

In [ ]:
len(abs1718['District '].unique())

In [ ]:
allstuds1718 =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'All Grades')]

In [ ]:
allstuds1718.shape

In [ ]:
allstuds1718.head()

In [ ]:
allstuds1718['% Chronically Absent'].value_counts()

In [ ]:
allstuds1718.loc[[4317]]

In [ ]:
stu1718 = allstuds1718[allstuds1718['% Chronically Absent']!='**'] #Removed 3 from original dataset

In [ ]:
allstuds1718[allstuds1718['% Chronically Absent']=='**']

In [ ]:
stu1718.sort_values(by = '% Chronically Absent', ascending = False)

In [ ]:
#abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'All Grades')]
k8all =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'K through 8th')]

In [ ]:
k8all[k8all['# Chronically Absent'] == '**']

### Etowah and Hamblen County seemed to consistently have very high chronic absenteeism on account of suppression information. - https://www.tn.gov/content/dam/tn/education/rpt-crd/report_card_suppression_rules_201718.pdf

### Let's look at the overall information

In [ ]:
abs1718[abs1718['# Chronically Absent'] == "**"]

#### Either the issue is with students of color from various subgroups or entire counties.  Is this an error such as the three mentioned above (Carroll, Etowah, and Hamblen to have more than 99%)

In [ ]:
salary1617 = pd.read_csv("data/asr1617.csv")

In [ ]:
salary1617.head()

In [ ]:
salary1617.iloc[:,1].value_counts() #143 cases. Need to change names to match other dataframes, take away *, etc.

In [ ]:
salary1617 = salary1617.iloc[1:,1:]
salary1617.tail()

In [ ]:
salary1617.columns = ('system_name', 'licensed_educator', 'instuctional_personnel', 'classroom_teacher','principal', 'superintendent')

In [ ]:
salary1617low = salary1617.sort_values(by = 'classroom_teacher')

In [ ]:
salary1617low = salary1617low.iloc[:143,:]

In [ ]:
salary1617.iloc[:,0].unique()

In [ ]:
abs1617.iloc[:,2].unique()

In [ ]:
#salary1617.iloc[:,0].lower()
salary1617=salary1617.apply(lambda x: x.astype(str).str.lower())

In [ ]:
salary1617[salary1617['system_name']=='nan']

In [ ]:
salary1617.tail()

In [ ]:
salary1617 = salary1617.drop([62, 124, 145]) #index 145 = state average

In [ ]:
abs1617=abs1617.apply(lambda x: x.astype(str).str.lower())

In [ ]:
abs1617.sort_values(by = 'pct_chronically_absent')

In [ ]:
abs1617_all = abs1617[abs1617.subgroup == 'all students']

In [ ]:
abs1617_all.sort_values(by = 'pct_chronically_absent')

In [ ]:
abs1617_all['system_name'] = abs1617_all['system_name'].str.replace("county", "co")

In [ ]:
salary1617['system_name'] = salary1617['system_name'].str.replace("*", "")

In [ ]:
salary1617

In [ ]:
abs1617_all.shape

In [ ]:
abs1617_all.tail(50)

In [ ]:
salary1617.shape

In [ ]:
abs1617all = abs1617_all.drop([1500, 1534, 1526, 1517, 1507])#West TN School of Deaf, Alvin C. York, TN School of Blind, TN School of Deaf, Dept of children's ... not included

In [ ]:
abs1617all.sort_values(by = 'system_name')

In [ ]:
salary1617.sort_values(by = 'system_name')

In [ ]:
salary1617['system_name'].unique()

In [ ]:
abs1617all.system_name.unique()

In [ ]:
#allstuds1718 =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'All Grades')]

abs1617all['system_name'].unique() == salary1617['system_name'].unique()

In [ ]:
salary1617.system_name.iloc[[42]]

In [ ]:
salary1617['system_name'] = salary1617['system_name'].str.replace("hollow rock-br", "hollow rock - bruceton")
salary1617['system_name'] = salary1617['system_name'].str.replace("huntingdon", "huntingdon special school district")
salary1617['system_name'] = salary1617['system_name'].str.replace("west carroll", "west carroll sp dist")
salary1617['system_name'] = salary1617['system_name'].str.replace("fayette co", "fayette co public schools")

salary1617['system_name'] = salary1617['system_name'].str.replace("humboldt", "humboldt city schools")
salary1617['system_name'] = salary1617['system_name'].str.replace("gibson co. spec.", "gibson co sp dist")
salary1617['system_name'] = salary1617['system_name'].str.replace("hardeman co", "hardeman co schools")
salary1617['system_name'] = salary1617['system_name'].str.replace("millington", "millington municipal schools")

salary1617['system_name'] = salary1617['system_name'].str.replace("franklin", "franklin ssd")

In [ ]:
abs1617all['system_name'].unique() == salary1617['system_name'].unique()

In [ ]:
salary1617.system_name.iloc[[42]] = 'franklin co'

In [ ]:
abs1617all['system_name'].unique() == salary1617['system_name'].unique()

In [ ]:
district=pd.merge(abs1617all,salary1617, on = 'system_name')

In [ ]:
district_county = pd.read_csv("data/district_county.csv")

In [ ]:
district_county.head()

In [ ]:
dc1=district_county.iloc[:,2:4]
dc2 = district_county.iloc[:,7:9]
dc3 = district_county.iloc[:,12:14]

In [ ]:
dc3.columns

In [ ]:
dc2.columns = ('District Name', 'County')
dc3.columns = ('District Name', 'County')

In [ ]:
dcmap = pd.concat([dc1,dc2])
dcmap = pd.concat([dcmap,dc3])

In [ ]:
dcmap = dcmap.dropna()

In [ ]:
dcmap.head()

In [ ]:
dcmap=dcmap.apply(lambda x: x.astype(str).str.lower())

In [ ]:
dcmap['District Name'] = dcmap['District Name'].str.replace("county", "co")

In [ ]:
dcmap = dcmap.reset_index()

In [ ]:
dcmap = dcmap.iloc[:,1:]

In [ ]:
dcmap.columns = ('system_name', 'county')

In [ ]:
dcmap.shape

In [ ]:
ck1=dcmap.sort_values(by = 'system_name')

In [ ]:
ck2 = district.sort_values(by='system_name')

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
pd.merge(ck1,ck2,how = 'outer').sort_values(by='system_name')

Add
achievement - 

Change
bells --> bells city
bradford ssd --> bradford
fayette co public schools --> fayette co
gibson co ssd --> gibson co sp dist
h-rock-bruceton ssd --> hollow rock - bruceton
humboldt --> humboldt city schools
huntingdon ssd --> huntingdon special school district

In [ ]:
dcmap.system_name

In [ ]:
salary1617['system_name'] = salary1617['system_name'].str.replace("hollow rock-br", "hollow rock - bruceton")
salary1617['system_name'] = salary1617['system_name'].str.replace("huntingdon", "huntingdon special school district")
salary1617['system_name'] = salary1617['system_name'].str.replace("west carroll", "west carroll sp dist")
salary1617['system_name'] = salary1617['system_name'].str.replace("fayette co", "fayette co public schools")

salary1617['system_name'] = salary1617['system_name'].str.replace("humboldt", "humboldt city schools")
salary1617['system_name'] = salary1617['system_name'].str.replace("gibson co. spec.", "gibson co sp dist")
salary1617['system_name'] = salary1617['system_name'].str.replace("hardeman co", "hardeman co schools")
salary1617['system_name'] = salary1617['system_name'].str.replace("millington", "millington municipal schools")

salary1617['system_name'] = salary1617['system_name'].str.replace("franklin", "franklin ssd")

In [ ]:
pd.merge(district, dcmap, on = 'system_name')