In [ ]:
import pandas as pd
from dplython import (DplyFrame, X, diamonds, select, sift, sample_n,
    sample_frac, head, arrange, mutate, group_by, summarize, DelayFunction) 
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
abs1617 = pd.read_excel("data/chr_abs_District-Level_Suppression_2016-17.xls")

In [ ]:
abs1718 = pd.read_excel("data/chr_abs_District-Level_Suppression_2017-18.xlsx")

In [ ]:
allstuds1718 =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'All Grades')]

In [ ]:
stu1718 = allstuds1718[allstuds1718['% Chronically Absent']!='**'] #Removed 3 from original dataset - suppressed data

In [ ]:
allstuds1718[allstuds1718['% Chronically Absent']=='**']

In [ ]:
stu1718.sort_values(by = '% Chronically Absent', ascending = False)

In [ ]:
k8all =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'K through 8th')]

In [ ]:
k8all[k8all['# Chronically Absent'] == '**']

In [ ]:
k8all.shape #Add county data later...

### Etowah and Hamblen County seemed to consistently have very high chronic absenteeism on account of suppression information. - https://www.tn.gov/content/dam/tn/education/rpt-crd/report_card_suppression_rules_201718.pdf

### Let's look at the overall information

In [ ]:
abs1718[abs1718['# Chronically Absent'] == "**"]

#### Either the issue is with students of color from various subgroups or entire counties.  Is this an error such as the three mentioned above (Carroll, Etowah, and Hamblen to have more than 99%)

In [ ]:
salary1617 = pd.read_csv("data/asr1617.csv")

In [ ]:
salary1617.iloc[:,1].value_counts() #143 cases. Need to change names to match other dataframes, take away *, etc.

In [ ]:
salary1617 = salary1617.iloc[1:,1:]

In [ ]:
salary1617.columns = ('system_name', 'licensed_educator', 'instuctional_personnel', 'classroom_teacher','principal', 'superintendent')

In [ ]:
salary1617low = salary1617.sort_values(by = 'classroom_teacher')

In [ ]:
salary1617low = salary1617low.iloc[:143,:]

In [ ]:
#salary1617.iloc[:,0].lower()
salary1617=salary1617.apply(lambda x: x.astype(str).str.lower())

In [ ]:
salary1617[salary1617['system_name']=='nan']

In [ ]:
salary1617 = salary1617.drop([62, 124, 145]) #index 145 = state average

In [ ]:
salary1617

In [ ]:
abs1617=abs1617.apply(lambda x: x.astype(str).str.lower())
abs1617['system_name'] = abs1617['system_name'].str.replace("county", "co")

In [ ]:
abs1617_all = abs1617[abs1617.subgroup == 'all students']

In [ ]:
salary1617.sort_values(by = 'system_name')

In [ ]:
salary1617['system_name'] = salary1617['system_name'].str.replace("west carroll", "west carroll ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("trenton", "trenton ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("south carroll", "south carroll ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("richard city", "richard city ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("paris", "paris ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("oneida", "oneida ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("milan", "milan ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("mckenzie", "mckenzie ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("lebanon", "lebanon ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("huntingdon", "huntingdon ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("hollow rock-br", "hollow rock - bruceton ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("gibson co. spec.", "gibson co ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("franklin", "franklin ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("bradford", "bradford ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("*", "")

In [ ]:
abs1617_all.sort_values(by='system_name')

In [ ]:
abs1617all = abs1617_all.drop([1500, 1534, 1526, 1517])#West TN School of Deaf, TN School of Blind, TN School of Deaf, Dept of children's ... not included

In [ ]:
abs1617all.sort_values(by = 'system_name')

In [ ]:
salary1617.sort_values(by = 'system_name')

In [ ]:
salary1617['system_name'].unique()

In [ ]:
abs1617all.system_name.unique()

In [ ]:
#used to check charts names... unequal now due to alvin c. york
#abs1617all['system_name'].unique() == salary1617['system_name'].unique()

In [ ]:
ck=pd.merge(abs1617all,salary1617, how = 'outer', on = 'system_name').sort_values(by='system_name')

In [ ]:
ck.shape

In [ ]:
salary1617['system_name'] = salary1617['system_name'].str.replace("franklin ssd co", "franklin co")
salary1617['system_name'] = salary1617['system_name'].str.replace("humboldt", "humboldt city schools")

abs1617all['system_name'] = abs1617all['system_name'].str.replace("bradford", "bradford ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("fayette co public schools", "fayette co")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("gibson co sp dist", "gibson co ssd")

abs1617all['system_name'] = abs1617all['system_name'].str.replace("hardeman co schools", "hardeman co")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("hollow rock - bruceton", "hollow rock - bruceton ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("huntingdon special school district", "huntingdon ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("lebanon", "lebanon ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("mckenzie", "mckenzie ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("milan", "milan ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("millington municipal schools", "millington")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("oneida", "oneida ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("paris", "paris ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("richard city", "richard city ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("south carroll", "south carroll ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("trenton", "trenton ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("west carroll sp dist", "west carroll ssd")

In [ ]:
ck2 = pd.merge(abs1617all,salary1617, how = 'outer', on = 'system_name').sort_values(by='system_name')

In [ ]:
ck2.shape

In [ ]:
district=pd.merge(abs1617all,salary1617, how = 'outer', on = 'system_name')

In [ ]:
district.shape

In [ ]:
district_county = pd.read_csv("C:/Users/unews/nss_data_science/Capstone/district_county.csv")

In [ ]:
district_county.head()

In [ ]:
dc1=district_county.iloc[:,2:4]
dc2 = district_county.iloc[:,7:9]
dc3 = district_county.iloc[:,12:14]

In [ ]:
dc2.columns = ('District Name', 'County')
dc3.columns = ('District Name', 'County')

In [ ]:
dcmap = pd.concat([dc1,dc2])
dcmap = pd.concat([dcmap,dc3])

In [ ]:
dcmap.shape

In [ ]:
dcmap = dcmap.dropna()

In [ ]:
dcmap.shape

In [ ]:
dcmap.head()

In [ ]:
dcmap=dcmap.apply(lambda x: x.astype(str).str.lower())

In [ ]:
dcmap['District Name'] = dcmap['District Name'].str.replace("county", "co")

In [ ]:
dcmap.head(20)

In [ ]:
dcmap = dcmap.reset_index()

In [ ]:
dcmap.head(20)

In [ ]:
dcmap = dcmap.iloc[:,1:]

In [ ]:
dcmap.columns = ('system_name', 'county')

In [ ]:
dcmap.shape

In [ ]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [ ]:
district['system_name'] = district['system_name'].str.replace('alvin c york institute', 'alvin c york institute ssd')
dcmap['system_name'] = dcmap['system_name'].str.replace('a.c. york institute-sss', 'alvin c york institute ssd')

In [ ]:
district['system_name'] = district['system_name'].str.replace('bells', 'bells city')
dcmap['system_name'] = dcmap['system_name'].str.replace('h-rock-bruceton ssd', 'hollow rock - bruceton ssd')
dcmap['system_name'] = dcmap['system_name'].str.replace('humboldt', 'humboldt city schools')

In [ ]:
district_dcmap = pd.merge(dcmap,district,how = 'outer').sort_values(by='system_name')

In [ ]:
district_dcmap = district_dcmap.drop([130])

In [ ]:
district_dcmap

In [ ]:
district_dcmap.to_csv('C:/Users/unews/nss_data_science/Capstone/district_dcmap.csv')